#principal{
    border: solid 1px silver;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    background-color: silver;
}
body{
    background: url(fondo.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
fieldset{
    margin-bottom:  10px;
}
legend{
    border: solid 1px #0000c5;
    padding: 5px;
    font-weight: bold;

    background: blue;
}
#mifotoperfil{
    margin:5px;
    border: solid 2px silver;
}